@font-face {
  font-family: "gilroy";
  src: url("./gilroy.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "gilroy";
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

#main {
  position: relative;
  width: 100%;
}
#loader {
  width: 100%;
  height: 100vh;
  background-color: #111;
  color: white;
}
#loader #topheading {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0);
}
#loader h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vw;
    font-weight: 500;
}
#loader h1 span {
    color: #14cf93;
}
#topheading h5 {
  text-transform: uppercase;
  font-weight: 300px;
  font-size: 12px;
  text-align: center;
}
.reveal .parent {
    display: block;
    overflow: hidden;
}
.reveal .parent .child {
    display: block;
}

#green {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100vh;
  background-color: #14cf93;
}
