@font-face {
  font-family: "gilroy";
  src: url("./gilroy.woff2");
}
* {
  margin: 0;
  padding: 0;
  font-family: "gilroy";
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

#main {
  width: 100%;
}
#loader {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #111;
  color: white;
  z-index: 999;
}
.title-load {
  color: #14cf93;
}
#green {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 0vh;
  background-color: #14cf93;
  z-index: 999;
}

#loader #topheading {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0);
}
#loader h1 {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4vw;
  font-weight: 500;
}

#topheading h5 {
  text-transform: uppercase;
  font-weight: 300px;
  font-size: 12px;
  text-align: center;
}
.reveal .parent {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
}
.reveal .parent .child {
  display: block;
}
.child span {
  display: inline-block;
}
#home {
  width: 100%;
  height: 200vh;
  background-color: #f0f0f0;
}
#home #nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  width: 100%;
  height: 100px;
}
#nav a {
  padding: 10px;
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;

}
#nav a .line {
  position: absolute;
  bottom: 0vw;
  display: inline-block;
  height: 2px;
  background-color: black;
}
#line1 {
  transition: all 0.5s;
  transition-delay: 0.5s;
  left: 0;
  width: 0%;
}
#line2 {
  transition: all 0.5s;
  right: 0;
  width: 100%;
}

#nav a:hover #line2 {
  width: 0%;
}
#nav a:hover #line1 {
  width: 100%;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 5vw;
  padding: 0 7vw;
  padding-right: 12vw;
  color: #333;
  line-height: 1;
}
.row h1 {
  font-size: 12vw;
  font-weight: 500;
}

.row .text {
  margin-top: 5vw;
}
.row h5 {
  opacity: 0.6;
  font-weight: 600;
  font-size: 11px;
}
.row:nth-child(3) {
  margin-top: 0;
}
.row svg {
  height: 10.5vw;
  margin: 0 3vw;
}
path,
polyline {
  stroke: #14cf93;
}
